*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#000000;
    overflow-x: hidden;
}

header{
    background-image:url(../imagens/banner.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:bottom;
    height:calc(100vh - 300px);
}


.aviso{
    color: white;
    text-align: center;
}

.composicoes{
    color: white;
    text-align: center;
    background-color: #000000;
    border-radius: 20px;
}

.composicoes a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
}
.composicoes span:hover{
    border-bottom: 3px solid #ffffff;
}

.gifCapa{
    background-image: url(../videos/gifCapa.gif) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
}

h1{
    font-family: fantasy;
    font-size:3.8rem;
    color: #5d5a5a;
    text-shadow: 5px 5px 5px white;
}



header{
    background-color:#000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    border-bottom: 1px solid white;
    padding: 20px;
    
}

header .logo{
    width: 200px;
    height: 200px;
    border-radius:100%;
    border: 3px solid white;

}

ul{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

ul li {
    list-style: none;
    max-width: 270px;
    padding:20px;
    border-radius:20px;
    border-bottom: 2px solid yellow;
    border-right: 5px solid rgb(255, 255, 255);

}
ul li:hover {
    background-color: #191818;
    padding:20px;

   

    
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
   
}
ul li a:hover {
    text-decoration: none;
    font-size: 1.3rem;
    color:#ffea00;
   
}



section{
    background-color:#282727;
    margin: 20px;
    padding:30px;
}

section div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section div h2{
    font-size: 1.3rem;
    color:#ffea00;
    padding-top: 20px;
    text-align: center;
}

section div p{
    color: #ffffff;
    line-height: 30px;
    font-size: 1.1rem;
    text-align: justify;
}

.playlist{
    width: 100% !important;
}



.playlist div img{
    
    max-height: 600px;
    width: 100%;
    
}

.galeriaMusica{
    display:flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.playlist .musica{
   display:flex;
   flex-direction:column;
   border: 1px solid #ffea00;
   padding: 10px;
   border-radius:20px;
   margin-bottom: 10px;

}

.musica p{
    text-align: center;
}

.contatos p{
    text-align: center;
    
}

.albumSpotify{
    display: block;
    max-width: 900px;
    margin: auto;
    border-radius: 30px;
}




footer{
    position: relative;
    bottom: 0;
    background-color:#000000;
    width: 100%;
    color: #ffffff;
    text-align: center;
   

}
footer address{
    margin: 50px;
    font-size: 0.8rem;

}

footer  a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
    
}
footer  a:hover {
    text-decoration: none;
    color: white;
    border-radius: 100%;
    border-bottom: 1px solid yellow;
    border-right: 3px solid yellow;
    padding: 10px;
}


/*** MÚSICAS ***/


section audio{
    display: block;
    margin: 0 auto;
    margin: 10px auto;
}