@media (max-width:600px) {
    h1{
        font-size: 2.5rem;
    }
    header .logo{
        width: 100px;
        height: 100px;      
    }

    nav ul {
        display: flex;
        margin-left: 30px;
    }

    .container-fluid{
        padding: 0;
        margin: 0;
    }

 
    .composicoes .letras{
        width: 150px;
    }
    
  
  
}

@media (max-width:900px) {
    header .logo{
        margin: 20px;        
    }
    nav{
        width: 100%;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        line-height:10px;
        margin-bottom: 10px;
        
    }  
}

